<mat-toolbar color="primary">
  <h1 class="main-title">TODO List</h1>
  <span class="example-spacer"></span>
  <button mat-stroked-button class="navbar-button" (click)="openEditDialog()">
    <mat-icon>edit</mat-icon>
    <span>Edit list</span>
  </button>
  <button mat-stroked-button class="navbar-button" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
    <span>Create new list</span>
  </button>
  <button mat-stroked-button class="navbar-button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <span>Lists</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let todoList of todoLists;" class="menu-items" (click) = "setListId(todoList.id)">{{todoList.name}}</button>
  </mat-menu>
</mat-toolbar>
