
<mat-toolbar color="primary">
  <h1 class="main-title">TODO List</h1>
  <span class="example-spacer"></span>
  <button mat-stroked-button class="navbar-button"  aria-label="Example icon-button with heart icon">
    <mat-icon class="menu-button-icons">add</mat-icon>
    <span>Create new list</span>
  </button>
  <button mat-stroked-button class="navbar-button"  aria-label="Example icon-button with heart icon">
    <mat-icon class="menu-button-icons">menu</mat-icon>
    <span>Lists</span>
  </button>
</mat-toolbar>
