<h2 mat-dialog-title>Edit List</h2>
  <mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="editTodoListForm">
    <mat-form-field appearance="fill" class="form_field">
      <mat-label matInput>Name</mat-label>
      <input matInput formControlName="name" name="name">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="updateList()" [disabled]="!editTodoListForm.valid">Update</button>
    <button mat-raised-button color="warn" (click)="deleteList()" [disabled]="!editTodoListForm.valid">Delete</button>
  </form>
</mat-dialog-content>

